.thumbnailsToList {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 4rem;
  justify-content: center;
  align-items: center;
  margin-top: 32px;
  border-radius: 5px;
}

.thumbnail-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  width: 100%;
  padding-top: 16px;
  padding-bottom: 16px;
  border-radius: 5px;
  background-color: rgba(211, 211, 211, 0.199);
}

.thumbnail-container img {
  width: 100%;
}

.thumbnail-container p {
  margin-top: 0;
  margin-bottom: 0;
}

.thumbnail-container p:nth-child(1) {
  font-weight: bold;
}

.thumbnail-container p:nth-child(2) {
  color: gray;
  margin-bottom: 10px;
}

.grabberContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  color: #140133;
}

.grabberContent h1 {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 0;
  background: linear-gradient(90deg, #140133, #3390ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

.tokeeLogo {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.tokeeLogo img {
  max-width: 200px;
}

.tokeeLogo p {
  font-size: 16px;
  display: flex;
  align-items: center;
}

.imagesContent {
  display: flex;
  flex-direction: column;
  width: 50vw;
  padding: 4%;
  gap: 8px;
  border-radius: 5px;
  box-shadow: 0px 4px 15px rgba(73, 170, 235, 0.842);
}

.youtubeUrlSection {
  position: relative;
  display: flex;
  justify-content: center;
}

.youtubeUrlSection input {
  width: 80%;
  padding: 0.5rem;
}

.youtubeUrlSection button {
  position: absolute;
  right: 12%;
  bottom: 10px;
  height: 1.5rem;
  cursor: pointer;
}

.buttonLayout {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}

.buttonLayout button {
  padding: 8px 16px;
  border-radius: 16px;
  border: 1px solid gray;
  font-weight: 700;
  cursor: pointer;
}

.isNotClicked {
  background-color: white;
  color: gray;
}

.isClicked {
  background-color: gray;
  color: white;
}

.buttonLayout button:nth-child(2) {
  background-color: blue;
  color: white;
}
