.ParentLayout {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  gap: 8px;
}

.TrySection {
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding: 8px;
  background-color: rgba(197, 230, 252, 0.842);
}

.CardsLayout {
  display: flex;
  flex-direction: row;
  gap: 8px;
  font-weight: 600;
}

.IndividualLayout {
  display: flex;
  flex-direction: column;
  width: 33%;
  background-color: rgba(197, 230, 252, 0.842);
}

.Steptext {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  padding: 8px;
}

.Steptext :nth-child(1) {
  border-radius: 100%;
  background-color: #3c4e59;
  color: white;
  font-size: 12px;
  padding: 4px 4px;
}

.Steptext :nth-child(2) {
  width: 70%;
}

.IndividualLayout img {
  padding-bottom: 30px;
}
